<div class="container-fluid">
    <div class="row rowContainer">
        <div class="col-xs-8 doctorsContainer">
            <ul>
                <li ng-repeat = 'doctor in main.doctors' class="clearfix">
                    <div class="col-xs-4">
                        <h3>{{doctor.name}}</h3>
                    </div>
                    <div class="col-xs-4 buttonContainer">
                        <button class="btn btn-info"><a href="#!/chat">Iniciar chat</a></button>
                        <button class="btn btn-info" ng-click='startBroadcast(doctor)'>Iniciar video consulta</button>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-xs-3">
                    <h2>Personal room</h2>
                    <button class="btn btn-lg btn-info" ng-click="startBroadcast(main.myReceiver)">Start</button>
                </div>
                <div class="col-xs-3">
                    <h2>Join room</h2>
                    <button class="btn btn-lg btn-info" ng-click="joinBroadcast(main.host)">Join room</button>
                </div>
            </div>
        </div>
    </div>
</div>



