<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 pull-right">
            <div id="remoteVideo"></div>
            <div class="videoContainer">
                <div id="localVideo"></div>
            </div>
            <div class="videoButtonContainer">
                <button class="btn btn-xs btn-success" ng-click="prepareRoom()">Prepare</button>
                <button class="btn btn-xs btn-danger" ng-click="leaveRoom()">Leave room</button>
                <button class="btn btn-xs btn-info" ng-click="sendInvite()">Send Invite</button>
                <button class="btn btn-xs btn-danger" ng-click="mute()">Mute</button>
                <button class="btn btn-xs btn-danger" ng-click="pause()">Pause Media</button>
                <button class="btn btn-xs btn-success" ng-click="unMute()">Un mute</button>
                <button class="btn btn-xs btn-success" ng-click="resume()">Resume Media</button>
            </div>
            <div class="chatContainer" ng-show="isPrepared">
                <div class="col-xs-12">
                    <div id="message-receiver"></div>
                </div>
                <div class="col-xs-8">
                    <textarea name="message-area" id="message-area" rows="2"></textarea>
                </div>
                <div class="col-xs-2">
                    <button ng-click="sendMessage()" class="btn btn-md btn-info">Send</button>
                </div>
            </div>
        </div>
        <ng-transclude></ng-transclude>
    </div>
</div>
