/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;

}
.doctorsContainer {
  border: 1px solid;
  padding: 10px;
  border-bottom:0;
  border-right:0;
}

.doctorsContainer li{
  display: block;
  padding: 20px;
  border-bottom: 1px dotted;
}

.doctorsContainer a{
  text-decoration: none;
  color: white;
}

.rowContainer {
  padding: 20px;
}

.buttonContainer{
  display: flex;
}

button.btn.btn-info {
  margin-left: 5px;
}
textarea{
    width: 100%;
}
#message-receiver{
    border: 1px dotted #000;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.volume {
    position: absolute;
    left: 25%;
    width: 50%;
    bottom: 2px;
    height: 10px;
 }
.videoContainer {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.muted, .paused {
    display: none;
    position: absolute;
    z-index: 1;
    color: #12acef;
    font-size: 35px;
}
.muted {
    left: 5%;
    width: 100%;
    position: absolute;
    top: 25px;
}
.paused {
    left: 45%;
    width: 100%;
    position: absolute;
    top: 45%;
    font-size: 55px;
}
.videoButtonContainer button.btn {
    padding: 5px;
    margin: 5px;
}
