<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Synapsis VideoChat Module</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="SynapsisVideoChat">

  <div ng-view></div>

  <div class='broadcastContainer' ng-if='$root.broadcastService.isBroadcasting'>
      <video-chat
                user="{{$root.myUser}}"
                muted = false
                min-width = "minWidth"
                invite-handler= "invite(host)"
                leave-handler = "leave(messages)"
                start-hanlder = "broadcastStart"
                max-num-peers = "maxNumPeers"> 
        </video-chat>
  </div>

  <script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/SimpleWebRTC/latest-v2.js"></script>
  <script src="module_definitions.js"></script>
  <script src="components/Video_Chat/BroadcastService.js"></script>
  <script src="components/Video_Chat/video_directive.js"></script>
  <script src="components/Main/controller.js"></script>
  <script src="app.js"></script>

</body>
</html>
